{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="container">
    <form method="post" class="mx-auto">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes maintenant connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputEmail" class="w-100">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-100" autocomplete="email" required autofocus>
        <label for="inputPassword" class="w-100">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control w-100" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="text-center mt-3">
            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </div>
    </form>
</div>
{% endblock %}
